.upper-container3 {
  display: grid;
    padding: 20px 100px;
    height: 100%;
  }
  
.upper-container-friend3 {
    display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  gap: 0px;
  min-height: calc(100vh - 50px);
  padding:20px 20px 20px 20px;
}
  
  .left-friend3 {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 1;
    min-height: 90vh;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    padding: 10px;
    align-items: end;
    flex-direction: column;
  }
  
  .right-friend3{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .form-group {
    height: fit-content;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-button {
    width: fit-content;
    margin-left: 5px;
    background-color: #36013f;
  }
  
  .showfriend {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
    overflow-y: auto;
    background: #323232;
    color: white;
  }
  
  .search-item {
    height: fit-content;
  }
  
  .search-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #E6DFF0;
    box-shadow: 0 0 6px #735DA5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px;
    height: fit-content;
  }
  .request-button{
    padding: 5px 10px;           // Make button smaller
    font-size: 14px; 
    height: fit-content;
    background-color: #36013f;
    margin-left: 20px;
  }
  .search-out{
    width: fit-content;
  }
  .friends-area{
    margin-top: 10px;
    height: fit-content;
    background: none;
  }
  .remove-button{
    width: fit-content;
    height: fit-content;
  }
  .friends-box{
    height:fit-content
  }
  .friends-search-out{
    height: fit-content;
  }
  .friends-area-container3{
  flex: 1;
  overflow-y: auto;
  padding: 0 10px;
  min-height: 0;
 }
  .search-friend-out{
    background-color: #735DA5;
    color: white;
  }
  .showfriend.showfriend::-webkit-scrollbar{
    display:none
  }
  .friends-area-container3::-webkit-scrollbar{
    display:none
  }
  .right-friend3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: calc(100vh - 40px);
}
  .heading{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    background-color:#36013f;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
  }
  .requests{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .request-button2{
    margin: 0px 5px;
    width: fit-content;
  }